.file-viewer-parent {
  width: 94vw !important;
  position: relative;
  background-color: white !important;
}

.close-cross-button {
  right: 2vw;
  position: absolute;
  cursor: pointer;
  width: 1.2vw;
  height: 1.2vw;
  fill: #2687d7;
  top: 1.6vh;
}

.close-cross-button:hover {
  opacity: 0.7;
}
.upload-box-header-file {
  color: #2687d7 !important;
}

.file-viewer-content {
  position: relative;
  min-height: 80vh;
  background: url("../../assets/images/file-loader.gif") no-repeat;
  background-position: center center;
}

.image-view-class {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 78vh;
  max-width: 90vw;
  position: absolute;
  background-color: white;
}

.pdf-viewer {
  min-height: 90vh;
}

.file-view-actions {
  text-align: right !important;
  display: block !important;
  border-top: 2px solid #ff820e !important;
}

.file-action-images {
  width: 2vw;
  margin-left: 1vw;
  cursor: pointer;
}

.file-action-images:hover {
  opacity: 0.6;
}
.next-prev-button-container.not-available:hover {
  background-image: linear-gradient(
    rgba(255, 0, 0, 0) 10%,
    #ffe6e6 70%,
    rgba(255, 0, 0, 0) 100%
  ) !important;
}
.next-prev-button-container.not-available img {
  cursor: not-allowed !important;
}
.data-import-viewer-table,
.data-import-viewer-table td,
.data-import-viewer-table th {
  border: 1px solid #2687d7;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 1vh;
  font-size: 0.85vw;
  color: #353a42;
}
